# This is the config file for the scrapper.
# Parameter can be changed here.
# Used https://martin-thoma.com/configuration-files-in-python/ for inspiration


scrapper_config:
	website: "https://www.worldometers.info/coronavirus/#countries",
	user_agent: "Mozilla/5.0 (X11; Linux i686) AppleWebKit/537.17 (KHTML, like Gecko) Chrome/24.0.1312.27 Safari/537.17",
	filepath: "../csv_data/coronavirus_data.csv",
	interval_in_sec: 60,
	separator: "    ",
	#This delete the space char at the end of totalDeaths column, which was an imprecision from the website 
	get_ride_of_space_in_totalDeaths: True,
	#Choose 'All' for column header in all table, 'Once' for column header only at the first table, or 'None'
	with_headers: "All" 